@model SafeWheel3.Models.Anunt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Anunt</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFabricatiei)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFabricatiei)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dealer.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dealer.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.Image)" alt="AnuntImage" class="img-fluid" />
        </dd>

    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
