@model SafeWheel3.Models.Anunt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Anunt</h4>
    <hr />

   


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFabricatiei)
        </dt>
        <dd class="col-sm-10">
            @if (Model.DataFabricatiei.HasValue)
            {
                @Html.DisplayFor(model => model.DataFabricatiei.Value)
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dealer.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dealer.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.Image)" alt="AnuntImage" class="img-fluid" />
        </dd>

        @foreach (var imagePath in Model.ImagePaths)
        {
            <dd class="col-sm-2">
                <img src="@Url.Content(imagePath)" alt="AnuntImage" class="img-fluid" />
            </dd>
        }
    </dl>

    <br />
    <br />
    <br />

    <form method="POST" asp-controller="Anunt" asp-action="AddBookmark">
        <input type="hidden" name="AnuntId" value="@Model.Id" />
        <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">
            <div>
                <select name="BookmarkId" class="form-control">
                    <option selected>Adauga acest nunt intr-o colectie</option>
                    @foreach (var bookmark in ViewBag.UserBookmarks)
                    {
                        <option value="@bookmark.Id">@bookmark.Name</option>
                    }
                </select>
            </div>
            <div>
                <input type="submit" class="btn btn-success alert-success" value="+" />
            </div>
        </div>
    </form>

    <br /> 
    <br />
    <br />

</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>




@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.UserName</strong> 

                </div>
                <br>

                
                @if (comm.UserId == ViewBag.UserCurent || ViewBag.AfisareButoane==true )
                {
                    
                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                        </div>

                        <div>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>

                        </div>

                    </div>
                }

                

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Anunt/Details/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="AnuntId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
