@model IEnumerable<SafeWheel3.Models.Anunt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <label for="minPrice">Preț minim:</label>
        <input type="number" id="minPrice" name="minPrice" value="@ViewBag.minPrice"  /> <!-- Adaugă valoarea minimă curentă din ViewBag -->
        <br />
        <label for="maxPrice">Preț maxim:</label>
        <input type="number" id="maxPrice" name="maxPrice" value="@ViewBag.maxPrice"  /> <!-- Adaugă valoarea maximă curentă din ViewBag -->
        <br />

        <label for="minData">Data fabricatiei minima:</label>
        <input type="date" id="minData" name="minData" value="@ViewBag.minData" /> <!-- Adaugă valoarea minimă curentă din ViewBag -->
        <br />
        <label for="maxData">Data fabricatiei maxima:</label>
        <input type="date" id="maxData" name="maxData" value="@ViewBag.maxData" /> <!-- Adaugă valoarea minimă curentă din ViewBag -->


        



        <label class="small-text" for="dealer">&nbsp;&nbsp; Marca: &nbsp;&nbsp;</label>

                    <select style="background-color:mintcream;" class="selector-afisare" name="dealer" id="dealer">

                        @if (ViewBag.ChosenDealer != -1) //TINEM CONT DE domeniu
                        {
                            @foreach (var dom in ViewBag.Dealers) // 2 for uri pentru ca varianta aleasa sa fie cea buna in drop down
                            {
                                @if (Convert.ToString(dom.Value) == Convert.ToString(ViewBag.ChosenDealer))
                                {
                                    <option value="@(dom.Value)">@dom.Text</option>
                                    break;
                                }
                            }

                            @foreach (var dom in ViewBag.Dealers){
                                @if (Convert.ToString(dom.Value) != Convert.ToString(ViewBag.ChosenDealer))
                                {
                                    <option value="@(dom.Value)">@dom.Text</option>
                                }
                            }

                            <option value="-1">-</option> // trebuie sa ma pot intoarce la a nu tine cont de domeniu

                        }
                        else{
                            <option value="-1">-</option>

                            @foreach (var dom in ViewBag.Dealers)
                            {
                                <option value="@(dom.Value)">@dom.Text</option>
                            }
                        }
           
                    </select>
        
        
        
                 </div>






        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>

    <br />
</form>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}


<h2>Anunțuri</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Pret</th>
            <th>Data Fabricației</th>
            <th>Dealer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var anunt in Model)
        {
            <tr>
                <td>@anunt.Id</td>
                <td>@anunt.Marca</td>
                <td>@anunt.Pret</td>
                <td>@anunt.DataFabricatiei</td>
                <td>@(anunt.Dealer != null ? anunt.Dealer.Nume : "Nedeterminat")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@anunt.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@anunt.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@anunt.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
