@model IEnumerable<SafeWheel3.Models.Anunt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}


<h2>Anunțuri</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Pret</th>
            <th>Data Fabricației</th>
            <th>Dealer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var anunt in Model)
        {
            <tr>
                <td>@anunt.Id</td>
                <td>@anunt.Marca</td>
                <td>@anunt.Pret</td>
                <td>@anunt.DataFabricatiei</td>
                <td>@(anunt.Dealer != null ? anunt.Dealer.Nume : "Nedeterminat")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@anunt.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@anunt.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@anunt.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
